<header
  #header
  id="header"
  class="bg-secondary px-4 py-6 flex items-center justify-between"
>
  <a
    class="text-3xl text-indigo-400 font-bold uppercase tracking-wide"
    routerLink="/"
  >
    Clipz
  </a>

  <nav class="flex">
    <ul class="flex gap-8 font-medium">
      <!-- Navigation Links -->
      <li *ngIf="!(auth.isAuthenticated$ | async); else authLinks">
        <a class="px-2" href="#" (click)="openModal($event)"
          >Login / Register</a
        >
      </li>

      <ng-template #authLinks>
        <li>
          <a
            class="px-2"
            routerLink="/manage"
            routerLinkActive="text-indigo-400"
            >Manage</a
          >
        </li>
        <li>
          <a
            class="px-2"
            routerLink="/upload"
            routerLinkActive="text-indigo-400"
            >Upload</a
          >
        </li>
        <li>
          <a class="px-2" href="#" (click)="auth.logout($event)">Logout</a>
        </li>
      </ng-template>

      <li routerLinkActive="text-indigo-400">
        <a class="px-2" routerLink="/about">About</a>
      </li>
    </ul>
  </nav>
</header>
